:root{
	--clr-bg:#ffffff;
	--clr-font:#000000;
	--clr-btn : #6666ff;
	--clr-btn-bcg:#aaff00;
	--clr-post-h2:#ff1a1a;
	--clr-post :#ff3399;

}
.dark-theme{
	--clr-bg:#000000;
	--clr-font:#ffffff;
	--clr-btn:#1a1aff;
	--clr-btn-bcg:#ff4d94;
	--clr-post:#666699;
}

*,
::after,
::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: Roboto,sans-serif,Ubuntu,Oxygen;
	background: var(--clr-bg);
	color: var(--clr-font);
	line-height: 1.5;
	font-size: 0.875rem;
	transition: all 0.3s linear;
}

/*
==========
Nav bar
==========
*/

.nav-center{
	width: 90vw;
	max-width: 600px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	display: flex;
	padding: 3rem 0;
	
}
.nav-center span{
	font-size: 2rem;
	text-transform: capitalize;
	letter-spacing: 2px;
	color: #e60000;
	font-weight: bold;

}

.btn{
	background: var(--clr-btn-bcg);
	color: var(--clr-btn);
	padding: 0.25rem 0.5rem;
	border-radius: 5px;
	border-color: transparent;
	font-weight: bold;
	cursor: pointer;
	letter-spacing: 2px;
}


.articles{
	padding:5rem 0;
	width: 90vw;
	max-width: 700px;
	margin:0 auto;
}

.post{
	margin-bottom: 1rem;
}

.post h2{
	color: var(--clr-post-h2);
	text-transform: capitalize;
	font-size: 1.25rem;
}
.post-info{
	color: var(--clr-post);
	font-size: 0.8rem;
	font-style: italic;
	text-transform: capitalize;
}

.post-info span{
	margin-right: 1rem;
}

.post p{
	font-size: 1rem;
}